<!DOCTYPE html>
<html>
<head>
    <title>Hangman Game</title>
    <link rel="stylesheet" href="/Users/sumanaradham/Desktop/HungmanGame/hugman/templates/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Hangman Game created by Radham Sumana</h1>
        <form action="/game" method="POST">
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <button type="submit">Start Game</button>
        </form>
    </div>
</body>
</html>
